@font-face {
   font-family: 'Inter';
   src: url('./assets/fonts/Inter_24pt-SemiBold.ttf');
}

@font-face {
   font-family: 'Inter';
   src: url('./assets/fonts/Inter_24pt-Regular.ttf');
}

@font-face {
   font-family: 'Inter';
   src: url('./assets/fonts/Inter_24pt-Medium.ttf');
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter';
}

body {
   background: #fff;
   height: 100vh;
   line-height: 1.5;
   align-items: center;
}
